@property --bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #eef0f2;
}

@property --accent-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffc100;
}

@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff8200;
}

@property --trim-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #ff0000;
}

@property --text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #0a0903;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}


body {
  font-family: "Montserrat";
  font-size: 18px;
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

a:visited {
  color: var(--primary-color);
  text-decoration-color: var(--text-color);
}

ul {
  list-style-type: none;
}

body nav {
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 10px;
  border-radius: 5px;
}

nav ul {
  padding-left: 1rem;
}

.postcount {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px 20px;
}

header ul li {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

nav a:visited {
  color: var(--text-color);
}

header ul li:hover {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}

main {
  max-width: 650px;
  line-height: 1.2;
  margin: auto;
}

.post-meta {
  border-bottom: 1px solid var(--accent-color);
}

.post-meta time {
  display: inline-block;
  padding: 0px 10px 0px 0px;
}

.post-meta p {
  display: inline-block;
  padding: 0px 10px;
}

.content-wrapper {
    padding: 1rem;
    display: grid;
    grid-template-columns: [nav] 1fr [content] 3fr [right] 1fr;
}


.archive ul {
  list-style: none;
  padding-left: 0;
}

.archive ul li {
  line-height: 1.2;
}

.archive h2 {
  margin-top: 0;
}

.archive {
  grid-area: nav;
}

.index-main {
  grid-area: content;
}

.index-main h1 {
  margin-top: 0;
}

main ul {
  list-style-type: disc;
}

.post-main {
  grid-area:content;
}

@media (max-width: 600px) {
  .content-wrapper {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column;
  }
  
}

/* 
-------- dont write new css below this line ----------
trying to fix FOUC
*/

html {
  opacity: 1;
  visibility: visible;
  color: var(--text-color);
}