---
title: skelios' blog
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="blog.css">
</head>

<body>
    <div>
        <ul>
            <li>list item</li>
        </ul>
    </div>

    {{ content | safe }}

</body>

</html>