---
layout: layouts/base
---

{% set postsCount = collections.posts | length %}

<div class="archive">
    <h2>All posts</h2>
    <ul>
    {%- for post in collections.posts -%}
        <li><a href="blog/{{post.url}}">{{ post.data.title }}</a></li>
    {%- endfor -%}
    </ul>
</div>


<main>
    {{content | safe}}
</main>
