
body { 
    font-family: 'Montserrat';
    font-size: 18px;
}

header {
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
}

main {
    max-width: 650px;
    line-height: 1.2;
    margin: auto;
}
