main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

h1 {
  font-weight: 700;
  text-align: center;
}

.links {
  display: block;
  text-align: center;
}

.links span,
a {
  padding: 10px;
}

.links span:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}