@property --bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #EEF0F2;
}

@property --accent-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #FFC100;
}

@property --primary-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF8200;
}

@property --trim-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF0000;
}

@property --text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #0A0903;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: "Montserrat";
}