@font-face {
  font-family: "Montserrat";
  src:
    url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Montserrat";
}

main {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 97vh;
}

h1 {
  font-weight: 700;
  text-align: center;
}

.links {
  display: block;
  text-align: center;
}

.links span {
  padding: 10px;
}

.links span:hover {
  cursor: pointer;
  text-decoration: underline;
}