<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
        <title>{{ title }}</title>
        <script data-goatcounter="https://skelios.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
        <style>
            {% include '../styles.njk' %}</style>
    </head>
    <body>
        <header>
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("MM-dd-yyyy") }}</time>
        </header>
        <main>
            <h1 class="title">{{ title }}</h1>
            {{ content | safe }}
        </main>
    </body>
</html>